.site-footer {
  --color-link: hsl(0deg 100% 82.11%);
  border-block-start: .3rem solid var(--color-accent);
  isolation: isolate;
  padding-block: var(--space-3xl);
  position: relative;
  overflow: hidden;

  h3 { font-size: var(--step-1);}

  p {
    border-block-start: 1px solid hsl(0deg 0% 98% / .21);
    font-size: var(--step--1);
    inline-size: 80%;
    max-inline-size: 60ch;
    margin-inline: auto;
    padding-block-start: var(--space-l);
  }

  .decoration {
    --size: 40rem;
    bottom: 0;
    position: absolute;
    left: 0%;
    z-index: -1;
  }


}
